/*body {
    width: 100%;
    margin: 0;
    display: block;
    line-height: 1.4;
}

.table{
    width: 80%!important;
}

.left img,
.center img,
.right img {
    display: inline-block;
    top: 180px;
    position: absolute;
    max-width: 149px;
}

.left2 img,
.center2 img,
.right2 img {
    top: 529px;
    sposition: absolute;
    max-width: 149px;
}

.container {
    width: 80%;
    margin: auto;
    text-align: center;
    margin-top: 70px;
    margin-left: 19%;
}

.left, .right, .left2, .right2, .left3, .right3  {
    display: inline-block;
    text-align: left;
    vertical-align: top;
    padding-right: 45px;
}



.left3, .center3, .right3{
    margin-top:200px;     
}

.right, .left, .right2, .left2, .left3, .right3{
        width: 32%;
}

.left, .left2, .left3{
    float:left;
}

.right, .right2, .right3{
    float:right;
}


h2 {
    font-size: 18px;
    font-weight: bold;
}

h3 {
    font-size: 16px;
    font-weight: bold;
}

h3 {
    font-size: 14px;
    font-weight: bold;
}

b {
    font-weight: bold;
}

img{
    max-width:149px;
}
.container{
        margin-top: 70px;
}

.h1, .h2, .h3, h1, h2, h3, .h4, .h5, .h6, h4, h5, h6 {
    margin-top:0px!important;
}
    */